<!--  Header component with logo and hamburger or nav -->
<header>
  <div class="mx-auto h-16 max-w-7xl bg-white">
    <nav class="relative">
      <!-- mobile nav toggle -->
      <div
        class="absolute inset-y-0 right-0 flex h-16 items-center sm:pr-2 lg:hidden"
      >
        <button
          id="mobile-menu-button"
          aria-label="hamburger menu"
          class="inline-flex items-center justify-center rounded-md p-2 text-teal-500 transition duration-150 ease-in-out focus:outline-none"
        >
          <svg
            class="h-10 w-10"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              id="hamburger-icon"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
            <path
              id="close-icon"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <!-- nav starting at large breakpoint -->
      <div class="flex h-16 w-full items-center justify-start">
        <!-- logo -->
        <div class="shrink-0 px-2 sm:px-4 lg:px-8">
          <a href="/" class="border-none">
            <img
              class="block h-10 w-auto sm:hidden"
              src="/assets/img/logo.svg"
              alt="Carbondale Bike Project Logo"
            />
            <img
              class="hidden h-12 w-auto sm:block"
              src="/assets/img/logo.svg"
              alt="Carbondale Bike Project Logo"
            />
          </a>
        </div>
        {% include nav-lg.html %}
        <div class="hidden h-16 shrink shadow xl:block">
          {% include donate-button.html %}
        </div>
      </div>
      <!-- mobile nav flyout -->
      <div
        id="mobile-menu"
        class="relative z-20 hidden h-screen bg-white lg:hidden"
      >
        {% include nav-mobile.html %}
      </div>
    </nav>
  </div>
</header>
