<!--  Header component with logo and hamburger or nav -->
<header>
  <div class="bg-white h-16 max-w-7xl mx-auto">
    <nav x-data="{ isOpen: false }" class="relative">
      <!-- mobile nav toggle -->
      <div class="absolute right-0 inset-y-0 h-16 flex items-center lg:hidden sm:pr-2">
        <button @click="isOpen = !isOpen" @keydown.escape="isOpen = false"
          class="inline-flex items-center justify-center p-2 rounded-md text-teal-500 focus:outline-none transition duration-150 ease-in-out">
          <svg class="h-10 w-10" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path :class="{'hidden': isOpen, 'inline-flex': !isOpen }" class="inline-flex" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            <path :class="{'hidden': !isOpen, 'inline-flex': isOpen }" class="hidden" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <!-- nav starting at large breakpoint -->
      <div class="flex h-16 items-center justify-start w-full">
        <!-- logo -->
        <div class="flex-shrink-0 px-2 sm:px-4 lg:px-8">
          <img class="block sm:hidden h-10 w-auto" src="/assets/img/logo.svg" alt="Carbondale Bike Project Logo" />
          <img class="hidden sm:block h-12 w-auto" src="/assets/img/logo.svg" alt="Carbondale Bike Project Logo" />
        </div>
        {% include nav-lg.html %}
        <div class="hidden xl:block shadow h-16 flex-shrink">
          {% include donate-button.html %}
        </div>
      </div>
      <!-- mobile nav flyout -->
      <div :class="{'block': isOpen, 'hidden': !isOpen}" class="bg-white h-screen hidden lg:hidden relative z-20">
        {% include nav-mobile.html %}
      </div>
    </nav>
  </div>
</header>