<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/stylev3.css?{{ 'now' | date: '%s' }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend:
    site.baseurl | prepend: site.url }}" /> {% seo
  %}
  <script defer src="/assets/js/navigation.js"></script>
  <script src="https://cdn.usefathom.com/script.js" data-site="SZUUKHTD" defer></script>
  {% if page.title == 'Contact' %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}
</head>