<!-- navigation on larger view ports -->
<div class="hidden grow lg:ml-6 lg:block">
  <div class="ml-4 flex h-16 items-center">
    {% for item in nav %}
    <div class="flex h-16 items-center border-r border-l border-gray-200">
      <div
        class="flex h-full w-full items-center border-t-4 border-solid border-transparent transition duration-150 ease-in-out hover:border-teal-400 hover:bg-gray-200"
      >
        <a
          href="{{ item.url }}"
          class="{% if item.url == page.url %}active{% endif %} px-4 text-base leading-5 font-bold text-gray-800 focus:text-black focus:outline-none xl:text-lg"
        >
          {{ item.title }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
