<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include head.html %}

<body>
  {% include hat.html %}
  {% include header.html %}
  
  {% if page.banner_type == "home" %}
    {% include home-banner.html %}
  {% elsif page.banner == false %}
    <!-- No banner -->
  {% else %}
    {% include banner.html %}
  {% endif %}
  
  {{ content }}
  
  {% unless page.hide_common_sections %}
    {% if page.show_city_market != false %}
      {% include city-market.html %}
    {% endif %}
    
    {% if page.show_donate != false %}
      {% include donate.html %}
    {% endif %}
    
    {% if page.show_testimonials != false %}
      {% include testimonials.html %}
    {% endif %}
  {% endunless %}
  
  {% include footer.html %}
  {% include firebase-init.html %}
</body>

</html>