<!doctype html>
<html class="no-js" lang="en-US">
  {% include head.html %}

  <body>
    {% include hat.html %} {% include header.html %} {% if page.banner_type ==
    "home" %} {% include home-banner.html %} {% elsif page.banner == false %}
    <!-- No banner -->
    {% else %} {% include banner.html %} {% endif %}

    <main id="main">
      {{ content }} {% if page.title == "Home" %} {% include city-market.html %}
      {% include donate.html %} {% include testimonials.html %} {% endif %}
    </main>

    {% include footer.html %} {% include firebase-init.html %}
  </body>
</html>
