<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include head.html %}

<body>
  {% include hat.html %}
  {% include header.html %}
  {% if page.title == "Home" %}
  {% include home-banner.html %}
  {% else %}
  {% include banner.html %}
  {% endif %}
  <article class="max-w-7xl 
              px-2 
              sm:px-4 
              lg:px-8 
              xl:px-20 
              mt-4
              lg:mt-6
              mx-auto 
              leading-9 
              text-gray-800
              text-xl
              {% if page.title != 'Calendar' %}prose-xl{% endif %}">
    {% if page.title == "About" %}
    <h2>Mission:</h2>
    <blockquote>{{ site.description }}</blockquote>
    {% endif %}
    {{ content }}
  </article>
  {% include donate.html %}
  {% include testimonials.html %}
  {% include footer.html %}
</body>

</html>