@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul {
        @apply list-disc;
    }

    .prose-xl a {
        @apply underline;
    }
}

[x-cloak] {
    display: none;
}

.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* iOS devices, stuff for Apple */
@supports (-webkit-overflow-scrolling: touch) {
    .scroll {
        -webkit-overflow-scrolling: touch;
    }
}

.fc-scroller {
    overflow: visible !important;
    height: auto !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-behavior-smooth {
    scroll-behavior: smooth;
}

.snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
}

.snap-y {
    --scroll-snap-direction: y;
}

.snap-x {
    --scroll-snap-direction: x;
}

.snap-mandatory {
    --scroll-snap-constraint: mandatory;
}

.snap-start {
    scroll-snap-align: start;
}

#arrow-left,
#arrow-right {
    @apply no-underline;
}

.fc-header-toolbar h2 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgb(26 35 40 / var(--tw-text-opacity));
}


